$primary-color: #007acc;
$dark-primary-color: darken($primary-color, 10%);


label{
  margin-bottom: 50px;
}


li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Function change area style*/

.nav-pills > li > a {
  color: rgb(4,170,109);
}
.nav-pills > li > a.hover {
  color: rgb(4,170,109)
}
.nav-pills > li > a.active {
  color: white !important;
  background-color: rgb(4,170,109) !important;
}
/*Output area style*/
.LElist .downloadicon
{
  cursor:pointer;
  font-weight: bold;
  color: #007acc;
}
.LElist .downloadicon:hover
{
  text-decoration: underline;
}
.LElist 
#cliresult{
  font-size: 18px;
  line-height: 200%;
}
/*Preview Area Style*/
.preview{
  text-align: center;
  //background-color: aquamarine;
}
.preview #gridtitle{
  width: 100%;
  font-size: 30px;
  text-align: center;
  //background-color: #007acc;
}
.preview table{
  position: relative;
  border-collapse: separate;
  border-spacing: 5px;
  width:300px;
  height: 260px;
  left: 50%;
  transform: translate(-50%,0);
  //background-color: #007acc;
  //font-size: 50%;
}
.preview td{
  border: solid;
  border-width: 1px;
  // width: 80px;
  // height: 80px;
  text-align: center;
  
}