$primary-color: #007acc;
$dark-primary-color: darken($primary-color, 10%);


.container-fluid{
  //background-color: rgb(249,250,254);
  //background-color: rgb(217, 255, 222);
  background-color: white;
  color:rgb(4, 58, 4);
  //padding: 3%;
}
//Navbar style

//Mainarea style
//Inputarea style
.error{
  color:red;
}
//Outputare style
.outputarea{
  text-align: center;
}
.outputarea .downloadicon
{
  cursor:pointer;
  font-weight: bold;
  color: #007acc;
}
.outputarea .downloadicon:hover
{
  text-decoration: underline;
}
.outputarea 
#cliresult{
  font-size: 18px;
  line-height: 200%;
}

.outputarea #gridtitle{
  width: 100%;
  font-size: 30px;
  text-align: center;
  //background-color: #007acc;
}
.outputarea table{
  position: relative;
  border-collapse: separate;
  border-spacing: 5px;
  width:300px;
  height: 260px;
  left: 50%;
  transform: translate(-50%,0);
  //background-color: #007acc;
  //font-size: 50%;
}
.outputarea td{
  border: solid;
  border-width: 1px;
  // width: 80px;
  // height: 80px;
  text-align: center;
  
}


/*Function change area style*/
.functions{
  margin-bottom: 3%;
}
.nav-pills > li > a {
  color: rgb(4,170,109);
}
.nav-pills > li > a.hover {
  color: rgb(4,170,109)
}
.nav-pills > li > a.active {
  color: white !important;
  background-color: rgb(4,170,109) !important;
}
/*InputField Style*/

/*Tooltip style*/
